<!--The content below is only a placeholder and can be replaced.-->

 <div class="container">
  
  <app-header [product]="product" (visibility)="takeItStyle($event)" [basketButton]="basket" ></app-header>
  
    <br>
  
  

  <div [ngClass]="groupItemsStyle">
      <div *ngFor="let product of products; let i = index">
        <app-user [product]="product" [style]="groupItemsStyle"(item)="PushUpTo($event)"></app-user><!--(addToBags)="pushToCartItems($event)"-->
      </div>  
  </div>

  <app-basket ></app-basket>

</div><!--end container-->

<br>

<hr>

<router-outlet></router-outlet>
